<body class= "new-profile">

<h1>Create a New Profile</h1>

<h4><em>Learn, Share, Grow Together.</em></h4>

<div class = "flash">

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red"><%= error %></p>
    <% end %>
<% end %>

</div>

<%= form_for @user do |f| %>

    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br><br>

    <%= f.label :bio %><br>
    <%= f.text_field :bio %><br><br>



    <%= f.submit %>
<% end %>

</body>

    