<body class="container events"> 

    <nav>

      <ul>

        <li><%= link_to "Log Out", :controller=> "sessions", :action=> "destroy" %>

        <li><%= link_to 'Events', :controller => "events", :action => "index"%>

        <li><%= link_to 'Languages', :controller => "languages", :action => "index"%>

        <li><%= link_to 'Dashboard', :controller => "welcome", :action => "home"%>

      </ul>

    </nav>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red;"><%= error %></p>
    <% end %>
<% end %>

<div class="form" style="background-color: rgba(52, 52, 52, 0.8); position: absolute; top: 20vh; width: 100vw">

<%= form_for @event, method: 'patch' do |f| %>


    <h2 style="color:white;text-shadow: 2px 2px #000;" >Update Your Meetup</h2><br>

    <%= f.text_field :title %><br><br>

    <%= f.collection_select :lang_topic_id, LangTopic.sorted_list, :id, :display_lt %><br><br><br>

    <%= f.text_field :location %><br><br>

    <%= f.date_field :date %><br><br>

    <%= f.select :time, options_for_select(Event.times) %><br><br><br></p>


    <%= f.submit 'Update Event' %><br><br>

<% end %>


<div class = "form">

</body>