    <nav>

      <ul>

        <li><%= link_to "Log Out", :controller=> "sessions", :action=> "destroy" %>

        <li><%= link_to 'Create an Event', :controller => "events", :action => "new"%>

        <li><%= link_to 'All Events', :controller => "events", :action => "index"%>

         <li><%= link_to 'Topics', :controller => "topics", :action => "index"%>

         <li><%= link_to 'Languages', :controller => "languages", :action => "index"%>

         <li><%= link_to 'Dashboard', :controller => "welcome", :action => "home"%>

      </ul>

    </nav>

<body class="languages">


<% if @topic && !@lang %>
    <h1><%= @topic.title %> Events</h1>
<% elsif @topic %>
    <h1><%= @lang.name + " - " + @topic.title %> Events</h1>
<% elsif @lang %>
    <h1>Upcoming <%= @lang.name %> Events</h1>
<% end %>

<div class="flex-container">

<% if @topic && !@lang %>
    <ul>
        <% @events.each do |event|%>
        <% if event.date >= Date.today %>
            <dl><dt><%= link_to event.title, event_path(event) %></dt>
            <dt>Location: <%= event.location %></dt>
            <dt>Date: <%= event.display_date %> Time: <%= event.time %></dt>
            <dt><%= image_tag event.language.img_url, :size => "30x30" %></dt>
            </dl><br>
        <% end %>
        <% end %>
    </ul>

<% elsif @topic %>
    <ul>
        <% @events.each do |event|%>
        <% if event.date >= Date.today %>
            <dl><dt><%= link_to event.title, event_path(event) %></dt>
            <dt>Location: <%= event.location %></dt>
            <dt>Date: <%= event.display_date %> Time: <%= event.time %></dt>
            </dl><br>
        <% end %>
        <% end %>
    </ul>
<% elsif @lang %>
    <ul>
        <% @events.each do |event|%>
        <% if event.date >= Date.today %>
            <dl><dt><%= link_to event.title, event_path(event) %></dt>
            <dt><%= event.topic.title %></dt>
            <dt>Location: <%= event.location %></dt>
            <dt>Date: <%= event.display_date %> Time: <%= event.time %></dt>
            </dl><br>
        <% end %>
        <% end %>
    </ul>
<% else %>
    <ul>
        <% @events.each do |event|%>
        <% if event.date >= Date.today %>
            <dl><dt><%= link_to event.title, event_path(event) %></dt>  
                <dt><%= event.language.name %> - <%= event.topic.title %></dt>
                <dt>Location: <%= event.location %></dt>
                <dt>Date: <%= event.display_date %> Time: <%= event.time %></dt>
                <dt><%= image_tag event.language.img_url, :size => "30x30" %></dt>
            </dl><br>
        <% end %>
        <% end %>
    </ul>
<% end %>

</div>

</div>

</body>