<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red"><%= error %></p>
    <% end %>
<% end %>

<h3><em>Ready to host an event of your own?</em></h3>

<div class = "form">

<%= form_for @event do |f| %>

  <fieldset style="background-color:lightblue;text-align:center;">
    <h2>Create a New Event</h2>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :topic %>
    <%= f.collection_select :lang_topic_id, @lang_topics.sorted_list, :id, :display_lt %><br><br><br>

    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :time %>
    <%= f.time_select :time, {minute_step: 15} %><br><br>


    <%= f.submit 'Submit' %>

<% end %>

</fieldset>

<div class = "form">