 
<body class="events"> 

    <nav>

      <ul>

        <li><%= link_to "Log Out", :controller=> "sessions", :action=> "destroy" %>

        <li><%= link_to 'Events', :controller => "events", :action => "index"%>

        <li><%= link_to 'Languages', :controller => "languages", :action => "index"%>

        <li><%= link_to 'Dashboard', :controller => "welcome", :action => "home"%>

      </ul>

    </nav>

<div class="form" style="background-color: rgba(52, 52, 52, 0.8)">

<h3 style="color:white;text-shadow: 2px 2px #000;"><em>Ready to host an event of your own?</em></h3>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red;"><%= error %></p>
    <% end %>
<% end %>

<%= form_for @event do |f| %>


    <h2 style="color:white;text-shadow: 2px 2px #000;" >List Your Meetup</h2><br>

    <%= f.text_field :title, placeholder: 'Enter Title' %><br><br>

    <%= f.collection_select :lang_topic_id, @lang_topics.sorted_list, :id, :display_lt %><br><br><br>

    <%= f.text_field :location, placeholder: 'Location' %><br><br>

    <%= f.date_field :date %><br><br>

    <%= f.select :time, options_for_select(@times) %><br><br><br></p>>


    <%= f.submit 'Create Event' %><br><br>

<% end %>


</div>

</body>