<body>

<h1><%= @event.title %><br></h1>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p style="color:red;"><%= error %></p>
    <% end %>
<% end %>

<%= link_to @language.name, language_path(@language) %><br>

<%= @topic.title %><br>
<%= @event.display_date %><br>
<%= @event.display_time %><br>
<%= @host.name %><br>

<%= button_to 'join', join_path(@event), method:'put' %>

<%= @event.event_joins %>

</body>